@font-face {
  font-family: 'Bookerly-Bold';
  src: url('../fonts/BookerlyBold/Bookerly-Bold.eot');
  src: url('../fonts/BookerlyBold/Bookerly-Bold.woff') format('woff'),
       url('../fonts/BookerlyBold/Bookerly-Bold.ttf') format('truetype'),
       url('../fonts/BookerlyBold/Bookerly-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bookerly-BoldItalic';
  src: url('../fonts/BookerlyBoldItalic/Bookerly-BoldItalic.eot');
  src: url('../fonts/BookerlyBoldItalic/Bookerly-BoldItalic.woff') format('woff'),
       url('../fonts/BookerlyBoldItalic/Bookerly-BoldItalic.ttf') format('truetype'),
       url('../fonts/BookerlyBoldItalic/Bookerly-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bookerly-RegularItalic';
  src: url('../fonts/BookerlyRegularItalic/Bookerly-RegularItalic.eot');
  src: url('../fonts/BookerlyRegularItalic/Bookerly-Italic.woff') format('woff'),
       url('../fonts/BookerlyRegularItalic/Bookerly-Italic.ttf') format('truetype'),
       url('../fonts/BookerlyRegularItalic/Bookerly-RegularItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BradobreiRegular';
  src: url('../fonts/BradobreiRegular/BradobreiRegular.eot');
  src: url('../fonts/BradobreiRegular/BradobreiRegular.woff') format('woff'),
       url('../fonts/BradobreiRegular/BradobreiRegular.ttf') format('truetype'),
       url('../fonts/BradobreiRegular/BradobreiRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUISemiBold';
  src: url('../fonts/SegoeUISemiBold/SegoeUISemiBold.eot');
  src: url('../fonts/SegoeUISemiBold/SegoeUISemiBold.woff') format('woff'),
       url('../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf') format('truetype'),
       url('../fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUIRegular';
  src: url('../fonts/SegoeUIRegular/SegoeUIRegular.eot');
  src: url('../fonts/SegoeUIRegular/SegoeUIRegular.woff') format('woff'),
       url('../fonts/SegoeUIRegular/SegoeUIRegular.ttf') format('truetype'),
       url('../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUIBold';
  src: url('../fonts/SegoeUIBold/SegoeUIBold.eot');
  src: url('../fonts/SegoeUIBold/SegoeUIBold.woff') format('woff'),
       url('../fonts/SegoeUIBold/SegoeUIBold.ttf') format('truetype'),
       url('../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}