/*!=========================
      Base grid styles
==========================*/
html, body
  height 100%
body
  segoe()
  font-size 16px
  line-height 1.2
  color #000
  background #fff
.container
  min-height 100%
  position relative
.main
  padding-bottom 215px
  @media screen and (max-width: 768px)
    padding-bottom 150px
.wrapper
  clearfix()
  position relative
  width 1170px
  height 100%
  padding-left 15px
  padding-right 15px
  margin-left auto
  margin-right auto
  &.no-padding
    padding-left 0
    padding-right 0
  @media screen and (max-width: 1200px)
    width 750px
  @media screen and (max-width: 768px)
    width 96%
.helper
  display table-cell
  vertical-align middle
.mobile-hidden
  display none !important
.body-layout
  smooth()
  position fixed
  left 0
  top 0
  width 0
  height 0
  background rgba(0,0,0,0)
  z-index 50
  transition background .25s ease-in
  &.is-active
    width 100%
    height 100%
    background rgba(0,0,0,.2)
    transition background .25s ease-out