 .button-green
  display inline-block
  vertical-align middle
  background $green
  color #fff
  text-align center
  border-radius 20px
  height 40px
  line-height 40px
  font-size 16px
  &:hover
    background $green-dark
// Slick arrows
.slick-arrow
  anim()
  position absolute
  border none
  text-indent -9999px
  font-size 0
  width 23px
  height 55px
  top 50%
  margin-top -(@height/2)
  opacity 0.5
  margin-top 15px
  top 65px
  @media screen and (max-width: 1260px)
    opacity 1
    z-index 1
  &:hover
    opacity 1
  &.slick-disabled
    opacity .25
    cursor default
    @media screen and (max-width: 1260px)
      opacity .5
  &.slick-prev
    background url('../images/sprite.png') no-repeat -70px -100px
    left -35px
    @media screen and (max-width: 1260px) and (min-width: 1200px)
      left 30px
      background-position 0 -100px
    @media screen and (max-width: 860px)
      left 30px
      background-position 0 -100px
  &.slick-next
    background url('../images/sprite.png') no-repeat -107px -100px
    right -35px
    @media screen and (max-width: 1260px) and (min-width: 1200px)
      right 30px
      background-position -42px -100px
    @media screen and (max-width: 860px)
      right 30px
      background-position -42px -100px
