.modal
  background white
  padding 20px 30px
  text-align left
  max-width 420px
  margin 40px auto
  position relative
  @media screen and (max-width: 420px)
    padding-left 10px
    padding-right 10px
  .mfp-close
    background #fff
    border none
    display block
    opacity 1 !important
    &:after
      content '×'
      width 19px
      height 19px
      line-height 19px
      color #fff
      font-size 15px
      position absolute
      left 50%
      top 50%
      margin-left -(@width/2)
      margin-top -(@height/2)
      background $green
      border-radius 50%
  .title
    segoebold()
    margin-top 15px
    margin-bottom 25px
    font-size 34px
    line-height 1
    color #4f4b44
    text-align center
    @media screen and (max-width: 568px)
      font-size 28px
  form
    padding-left 30px
    padding-right 30px
    padding-bottom 30px
    @media screen and (max-width: 420px)
      padding-left 10px
      padding-right 10px
    .row
      clearfix()
      margin-bottom 10px
      border-bottom 1px solid lightgray
      &.focused
        border-color $green
        label
          color $green
      label
        segoe()
        float left
        text-align left
        width 30%
        font-size 14px
        line-height 26px
        color #999999
        cursor text
        padding-top 10px
        padding-bottom 10px
        @media screen and (max-width: 480px)
          width 40%
      input, textarea
        segoe()
        float right
        width 70%
        text-align left
        border none
        font-size 16px
        line-height 26px
        color #000000
        padding-top 10px
        padding-bottom 10px
        @media screen and (max-width: 480px)
          width 60%
      textarea
        padding-top 15px
        line-height 16px
        resize none
        max-height 60px
        height 60px
        min-height 60px
        @media screen and (max-width: 950px)
          max-height: 90px;
          height: 90px;
          min-height: 90px;
  .send
    anim()
    segoesemibold()
    display block
    margin 0 auto
    margin-top 35px
    width 305px
    height 55px
    line-height 53px
    background-color $green
    border 1px solid $green
    border-radius 27.5px
    font-size 16px
    color #fff
    &:hover
      background-color $green-dark
    @media screen and (max-width: 480px)
      width 230px
      height 45px
      line-height 43px
      font-size 14px
      margin-top 15px
#look-modal
  background #fff url("../images/backgrounds/leaves-left.png") no-repeat left top
  background-size contain