.m_catalog-filters
  .irs
    height 20px
    .irs-line
      height 2px
      background #bababa
      position absolute
      left 0
      top 17px
      width 100%
    .irs-to,
    .irs-from
      // width 25px
      // height 25px
      line-height 20px
      // text-align center
      font-size 14px
      // background #fff
      // border-radius 50%
      top 24px
      z-index 20
      visibility visible !important
    .irs-to
      left 80% !important
      @media screen and (max-width: 568px)
        width 100%
        text-align right
        left 0% !important
        margin-right 100px !important
    .irs-single
      display none !important
    .irs-from
      left 0 !important
    .irs-bar
      background $green
      height 2px
      top 17px
    .irs-slider
      width 20px
      height 20px
      border 2px solid $green
      border-radius 50%
      top 7px
      background #fff

