.headling
  segoebold()
  position relative
  text-align center
  font-size 34px
  line-height 1
  width 100%
  padding 35px 0
  color #4f4b44
  letter-spacing 2px
  &:after
    content ''
    position absolute
    bottom 15px
    width 100px
    height 2px
    background-color $green
    left 50%
    margin-left -(@width/2)
  &.white
    color #fff
    &:after
      background-color #fff
  @media screen and (max-width: 480px)
    font-size 24px
    letter-spacing 1px

