<footer class="m_footer">
    <div class="mobile-socials">
        <a class="fb" href="#"></a>
        <a class="vk" href="#"></a>
        <a class="tt" href="#"></a>
    </div>
    <div class="wrapper">
        <div class="contacts">
            <div class="address">
                <p class="geo">Москва,</p>
                <p>ул. Московская 22 офис, 15</p>
                <p class="email"><a href="mailto:zemlestroy@mail.ru">zemlestroy@mail.ru</a></p>
            </div>
            <div class="tel">
                <p class="title">Отдел продаж</p>
                <p class="tel-icon">+7 (888) 555 55 55</p>
                <p class="tel-icon">+7 (888) 555 55 55</p>
            </div>
            <div class="socials">
                <div class="buttons">
                    <a href="#" class="fb"></a>
                    <a href="#" class="vk"></a>
                    <a href="#" class="tt"></a>
                </div>
                <div class="call">
                    <a class="button-green" href="#">Перезвонить<span class="mobile-hidden"> мне</span></a>
                </div>
            </div>
            <div class="logo"><a href="#"></a></div>
        </div>
        <div class="nav">
            <ul>
                <li><a href="#"><span>О компании</span></a></li>
                <li><a href="#"><span>Земельные <br>массивы</span></a></li>
                <li><a href="#"><span>Прочие <br>земли</span></a></li>
                <li><a href="#"><span>Обьекты <br>недвижимости</span></a></li>
                <li><a href="#"><span>Партнёры</span></a></li>
                <li><a href="#"><span>Контакты</span></a></li>
            </ul>
        </div>
        <div class="mobile">
            <div class="logo"><a href="#"></a></div>
            <div class="desc">
                <div class="parent-helper">
                    <div class="helper">
                        <div class="address">
                            <p>Москва, ул. Московская 22, офис 15</p>
                        </div>
                        <div class="email">
                            <a href="mailto:zemlestroy@mail.ru">zemlestroy@mail.ru</a>
                        </div>
                        <div class="tel">
                            <p class="tel-icon">+7 (888) 555 55 55</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>