<header class="m_header">
    <div class="wrapper">
        <div class="logo">
            <a href="#"></a>
        </div>

        <div class="nav">
            <ul>
                <li><a href="#"><span>О компании</span></a></li>
                <li><a href="#"><span>Земельные <br>массивы</span></a></li>
                <li><a href="#"><span>Прочие <br>земли</span></a></li>
                <li><a href="#"><span>Обьекты <br>недвижимости</span></a></li>
                <li><a href="#"><span>Партнёры</span></a></li>
                <li><a href="#"><span>Контакты</span></a></li>
            </ul>
            <div class="mobile-contacts">
                <div class="logo"></div>
                <h3>Наши контакты</h3>
                <div class="tel">+7 (888) 555 55 55</div>
                <div class="tel">+7 (888) 555 55 55</div>
            </div>
        </div>

        <div class="contacts">
            <div class="helper">
                <div class="tel">
                    <span class="title">ОТДЕЛ ПРОДАЖ</span>
                    <span class="number">+7 (888) 555 55 55</span>
                </div>
                <div class="callback"><a class="popup-with-zoom-anim" href="#callback-modal">Перезвонить мне</a></div>
            </div>
        </div>

        <div class="mobile-menu">
            <a href="#">
                <span></span>
            </a>
        </div>
    </div>
</header>
<div class="body-layout"></div>