<div class="m_lead-partners">
    <div class="wrapper no-padding">
        <div class="headling white">ПАРТНЕРЫ</div>
        <div class="m_carousel initial-responsive-carousel">
            <div class="item">
                <div class="slide-wrap">
                    <div class="image">
                        <a href="#" style="background-image: url('../images/content/items/1.jpg')"></a>
                    </div>
                    <div class="title">
                        <a href="#" class="label">Поселок "Уютный"</a>
                        <a href="#" class="detail"></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slide-wrap">
                    <div class="image">
                        <a href="#" style="background-image: url('../images/content/items/2.jpg')"></a>
                    </div>
                    <div class="title">
                        <a href="#" class="label">Новые ольшанки</a>
                        <a href="#" class="detail"></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slide-wrap">
                    <div class="image">
                        <a href="#" style="background-image: url('../images/content/items/3.jpg')"></a>
                    </div>
                    <div class="title">
                        <a href="#" class="label">Озеро "Пионерское"</a>
                        <a href="#" class="detail"></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slide-wrap">
                    <div class="image">
                        <a href="#" style="background-image: url('../images/content/items/4.jpg')"></a>
                    </div>
                    <div class="title">
                        <a href="#" class="label">Озеро "Зайчихино"</a>
                        <a href="#" class="detail"></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slide-wrap">
                    <div class="image">
                        <a href="#" style="background-image: url('../images/content/items/5.jpg')"></a>
                    </div>
                    <div class="title">
                        <a href="#" class="label">Озеро "Зимино"</a>
                        <a href="#" class="detail"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>