.m_carousel
  width 100%
  height 270px
  &.initial-responsive-carousel
    @media screen and (max-width: 568px)
      height auto
      .item
        display none
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3)
          display block
  .item
    height 270px
    padding 15px
    .slide-wrap
      box-shadow 0 0 10px rgba(0, 0, 0, .35)
      transition box-shadow .25s ease-in
      &:hover
        box-shadow 0 0 15px 5px rgba(0, 0, 0, .35)
    .image
      width 100%
      height 180px
      a
        display block
        width 100%
        height 100%
        background-repeat no-repeat
        background-size cover
        background-position 50% 50%
    .title
      position relative
      height 50px
      background-color #fff
      color #fff
      font-size 16px
      display table
      width 100%
      text-align center
      .label
        bold()
        display table-cell
        vertical-align middle
        // display block
        height 100%
        padding 0 50px
        color #0f8300
        font-size 20px
        @media screen and (max-width: 1200px)
          font-size 16px
          padding-left 0
          padding-right 0
        &:hover
          color $green-dark
      .detail
        position absolute
        right 15px
        top 50%
        width 20px
        height 20px
        margin-top -10px
        background url('../images/sprite.png') no-repeat 0px 0px
        @media screen and (max-width: 1200px)
          display none

