.m_catalog-results
  margin-top -100px
  @media screen and (max-width: 768px)
    margin-top 30px
  .item
    clearfix()
    position relative
    background #fff
    margin-bottom 30px
    padding-left 45%
    box-shadow: 0 0 10px rgba(0,0,0,0.35);
    @media screen and (max-width: 768px)
      padding-left 0
    .image
      position absolute
      left 0
      top 0
      width 45%
      height 100%
      @media screen and (max-width: 768px)
        position static
        width 100%
        height 200px
      a
        display block
        width 100%
        height 100%
        background-size cover
        background-position 50% 50%
        background-repeat no-repeat
    .description
      padding 20px 30px
      @media screen and (max-width: 1200px)
        padding-right 10px
        padding-left 10px
      @media screen and (max-width: 768px)
        padding 10px 10px
      .title
        bold()
        font-size 20px
        line-height 1
        letter-spacing 1px
        color #484848
        margin-bottom 20px
        @media screen and (max-width: 768px)
          margin-bottom 10px
      .params
        clearfix()
        .row
          clearfix()
          @media screen and (max-width: 480px)
            margin-bottom 10px
        .params-title
          bold()
          float left
          position relative
          width 40%
          padding 15px 0 15px 30px
          font-size 14px
          line-height 12px
          color #333333
          @media screen and (max-width: 1200px)
            width 47%
          @media screen and (max-width: 768px)
            float none
            display inline-block
            width auto
            padding-top 10px
            padding-bottom 10px
          @media screen and (max-width: 640px)
            display block
            padding-top 5px
            padding-bottom 5px
          &:before
            content ''
            position absolute
            left: 0;
            top: 50%;
          &.icon-1:before
            background: url("../images/sprite.png") no-repeat  0 -165px;
            width: 18px;
            height: 18px;
            margin-top -(@height/2)
          &.icon-2:before
            background: url("../images/sprite.png") no-repeat  -25px -165px;
            width: 19px;
            height: 19px;
            margin-top -(@height/2)
          &.icon-3:before
            background: url("../images/sprite.png") no-repeat  -50px -165px;
            width: 21px;
            height: 21px;
            margin-top -(@height/2)
          &.icon-4:before
            background: url("../images/sprite.png") no-repeat  -79px -165px;
            width: 24px;
            height: 20px;
            margin-top -(@height/2)
        .params-description
          segoe()
          font-style italic
          float right
          width 60%
          padding 15px 0
          font-size 14px
          line-height 12px
          color #888888
          @media screen and (max-width: 1200px)
            width 53%
          @media screen and (max-width: 768px)
            float none
            display inline-block
            width auto
            padding-top 10px
            padding-bottom 10px
          @media screen and (max-width: 640px)
            display block
            padding-top 5px
            padding-bottom 5px
            padding-left 30px
      .detail
        margin-top 10px
        height 35px
        text-align right
        @media screen and (max-width: 480px)
          margin-top 0
        a
          segoesemibold()
          display inline-block
          position relative
          vertical-align middle
          text-align center
          right -10px
          width 170px
          height 35px
          line-height 30px
          border 1px solid $green
          border-radius 20px
          font-size 16px
          color $green
          @media screen and (max-width: 1120px)
            right 0
          @media screen and (max-width: 480px)
            font-size 14px
          &:after
            content ''
            position: absolute;
            right: 5px;
            top: 50%;
            background: url("../images/sprite.png") no-repeat 0px 0px;
            width: 20px;
            height: 20px;
            margin-top -(@height/2)
          &:hover
            text-decoration underline

