.m_catalog-filters
  height 480px
  background lightgray
  .map
    height 400px
    width 100%
  .filters
    clearfix()
    // position relative
    // z-index 1
    height 80px
    padding-top 23px
    padding-bottom 23px
    background #fff
    box-shadow 0 10px 15px -10px rgba(0,0,0,.3)
    @media screen and (max-width: 768px)
      height 160px
    @media screen and (max-width: 568px)
      padding-top 10px
      padding-bottom 10px
    @media screen and (max-width: 380px)
      height 190px
    .range, .locate, .type, .filter-buttons
      float left
      width 25%
      @media screen and (max-width: 768px)
        width 33.333%
    .locate, .type
      padding-right 1%
      @media screen and (max-width: 568px)
        width 48%
        margin-top 40px
        padding-right 0
        margin-bottom 10px
      @media screen and (max-width: 380px)
        width 100%
        margin-bottom 0
        margin-top 0
    .locate
      @media screen and (max-width: 380px)
        margin-top 30px
        margin-bottom 10px
    .type
      // float right
      // margin-left 4%
      @media screen and (max-width: 568px)
        margin-left 4%
      @media screen and (max-width:380px)
        margin-bottom 10px
        margin-left 0
    .range
      // height 80px
      padding-right 4%
      @media screen and (max-width: 568px)
        padding-right 0
        width 100%
    .filter-buttons
      clearfix()
      @media screen and (max-width: 768px)
        width 100%
        margin-top 50px
      @media screen and (max-width: 568px)
        margin-top 0
      button
        height 32px
        line-height 30px
        border-radius 20px
        font-size 14px
      button[type="submit"]
        width 48%
        float left
        border 1px solid $green
        background $green
        color #fff
      button[type="reset"]
        width 48%
        float right
        border 1px solid #bababa
        background #fff

