.m_contacts
  .wrapper
    position relative
    @media screen and (max-width: 480px)
     padding 0
  .map
    position relative
    height 600px
    width 100%
    margin-top 30px
    @media screen and (max-width: 950px)
      height auto
    #map
      width 100%
      height 100%
      @media screen and (max-width: 950px)
        height 360px
      @media screen and (max-width: 480px)
        height 240px
  .contacts-form
    height 100%
    width 100%
    position absolute
    left 0
    top 0
    @media screen and (max-width: 1200px)
      .wrapper
        width 96%
    @media screen and (max-width: 950px)
      position static

    .form
      position absolute
      z-index 50
      background #fff
      width 490px
      height 520px
      right 0
      top 50%
      padding 50px
      padding-top 30px
      padding-bottom 30px
      margin-top -(@height/2)
      border 1px solid $green
      box-shadow: 0 0 10px rgba(0,0,0,0.15);
      @media screen and (max-width: 1200px)
        padding 15px
        width 370px
        height 460px
        margin-top -230px
        .title
          line-height 1 !important
      @media screen and (max-width: 950px)
        position static
        margin-top 0
        margin-left auto
        margin-right auto
        border none
        box-shadow none
        height auto
        width 400px
        padding-top 15px
        padding-bottom 15px
        margin-bottom 25px
      @media screen and (max-width: 540px)
        width 100%
        padding-left 0
        padding-right 0
      @media screen and (max-width: 480px)
        margin-bottom 10px
        padding-top 0
        padding-bottom 5px
      &:after
        content ''
        background: url('../images/sprite.png') no-repeat -1px -205px;
        width: 132px;
        height: 172px;
        position absolute
        right -60px
        top -70px
        @media screen and (max-width: 1320px)
          display none
      .title
        bold()
        font-size 34px
        line-height 46px
        text-align center
        color #4f4b44
        padding-bottom 30px
        @media screen and (max-width: 950px)
          font-size 28px
          line-height 1.25
          padding-bottom 15px
        @media screen and (max-width: 568px)
          font-size 24px
          line-height 1.25
          display none
      form
        .row
          clearfix()
          margin-bottom 10px
          border-bottom 1px solid lightgray
          &.focused
            border-color $green
            label
              color $green
          label
            segoe()
            float left
            text-align left
            width 25%
            font-size 16px
            line-height 26px
            color #999999
            cursor text
            padding-top 10px
            padding-bottom 10px
            @media screen and (max-width: 480px)
              width 40%
          input, textarea
            segoe()
            float right
            width 75%
            text-align left
            border none
            font-size 16px
            line-height 26px
            color #000000
            padding-top 10px
            padding-bottom 10px
            @media screen and (max-width: 480px)
              width 60%
          textarea
            padding-top 15px
            line-height 16px
            resize none
            max-height 60px
            height 60px
            min-height 60px
            @media screen and (max-width: 950px)
              max-height: 90px;
              height: 90px;
              min-height: 90px;
      .send
        anim()
        segoesemibold()
        display block
        margin 0 auto
        margin-top 35px
        width 210px
        height 45px
        line-height 45px
        background-color $green
        border 1px solid $green
        border-radius 27.5px
        font-size 16px
        color #fff
        &:hover
          background-color $green-dark
        @media screen and (max-width: 480px)
          width 230px
          height 45px
          font-size 14px
          margin-top 15px
