.m_footer
  position absolute
  left 0
  bottom 0
  width 100%
  height 215px
  background-color #f9f9f9
  box-shadow 0 0 10px rgba(0,0,0,.15)
  @media screen and (max-width: 768px)
    height 150px
  .wrapper
    @media screen and (max-width: 768px)
      height auto
  .contacts
    regular()
    height 141px
    border-bottom 1px solid grey
    @media screen and (max-width: 768px)
      display none
    .address
      float left
      width 375px
      height 100%
      padding-top 35px
      @media screen and (max-width: 1200px)
        width 200px
        padding-top 15px
      p
        position relative
        display inline
        padding-left 0
        margin 0
        font-size 18px
        line-height 22px
        @media screen and (max-width: 1200px)
          display block
          padding-left 28px
      .geo
        display inline
        padding-left 30px
        @media screen and (max-width: 1200px)
          display block
        &:before
          content ''
          position absolute
          background url("../images/sprite.png") no-repeat -50px 0px
          width 14px;
          height 21px
          left 2px
          top 50%
          margin-top -(@height/2)
      .email
        display block
        margin-top 42px
        padding-left 30px
        @media screen and (max-width: 1200px)
          margin-top 22px
        a
          color $black
          &:hover
            text-decoration underline
        &:before
          content ''
          position absolute
          background url("../images/sprite.png") no-repeat -70px 0px
          width: 18px;
          height: 13px;
          left 0
          top 50%
          margin-top -(@height/2)
    .tel
      float left
      width 375px
      height 100%
      padding-top 35px
      @media screen and (max-width: 1200px)
        width auto
        padding-top 15px
        margin-left 10px
      p
        position relative
        margin 0
        padding-left 110px
        font-size 18px
        line-height 22px
        @media screen and (max-width: 1200px)
          padding-left 15px
        &:last-child
          margin-top 10px
          @media screen and (max-width: 1200px)
            margin-top 35px
      .title
        segoesemibold()
        font-size 18px
        margin-bottom 10px
      .tel-icon
        &:before
          content ''
          position absolute
          background url("../images/sprite.png") no-repeat -94px 0px
          width 15px;
          height 20px
          left 80px
          top 50%
          margin-top -(@height/2)
          @media screen and (max-width: 1200px)
            left 0
        & + .tel-icon
          @media screen and (max-width: 768px)
            margin-top 42px
    .socials
      float left
      height 100%
      width 180px
      padding-top 35px
      margin-left 10px
      margin-right 35px
      @media screen and (max-width: 1200px)
        padding-top 25px
        margin-right 10px
        width auto
        margin-left 20px
      .buttons
        position relative
        a
          display inline-block
          vertical-align middle
          color $green
          &:hover
            color $green-dark
        .fb
          background url("../images/sprite.png") no-repeat -130px 0px
          width 11px
          margin 0 ((45px-@width)/2)
          height 19px
          left 0px
          top 50%
          margin-top -(@height/2)
        .vk
          background url("../images/sprite.png") no-repeat -151px 0
          width: 22px
          margin 0 ((45px-@width)/2)
          height: 12px
          left 0px
          top 50%
          margin-top -(@height/2)
        .tt
          background url("../images/sprite.png") no-repeat -185px 0px
          width 18px;
          margin 0 ((45px-@width)/2)
          height 14px
          left 0px
          top 50%
          margin-top -(@height/2)
      .call
        margin-top 25px
        text-align center
        @media screen and (max-width: 1200px)
          margin-top 40px
        a
          width 180px
          @media screen and (max-width: 1200px)
            width 120px
            font-size 14px
    .logo
       height 140px
       width 165px
       line-height 140px
       text-align center
       float right
       a
         display inline-block
         vertical-align middle
         width 133px
         height 98px
         background url("../images/logo.png") no-repeat 0 0
         background url("../images/logo.svg") no-repeat 0 0
         background-size contain
  .nav
    height 70px
    width 100%
    @media screen and (max-width: 768px)
      display none
    ul
      width 100%
      display table
      padding 20px 0
      li
        display table-cell
        vertical-align middle
        text-align center
        a
          segoesemibold()
          position relative
          text-align center
          display inline-block
          vertical-align middle
          color $black
          font-size 16px
          overflow hidden
          padding-bottom 5px
          padding-top 5px
          @media screen and (max-width: 1200px)
            font-size 14px
            vertical-align top
            padding-left 5px
            padding-right 5px
            text-align left
            padding-top 2px
            padding-bottom 2px
            span
              border-bottom 1px solid #fff
          &:before
            content ''
            width 0
            height 2px
            background $green
            position absolute
            left 50%
            bottom 0px
            transition all .25s ease-in
            @media screen and (max-width: 1200px)
              display none
          &:after
            content ''
            width 0
            height 2px
            background $green
            position absolute
            right 50%
            bottom 0px
            transition all .25s ease-in
            @media screen and (max-width: 1200px)
              display none
          &:hover
            &:after, &:before
              width 51%
              transform translateX(0%)
              transition all .35s ease-out
            @media screen and (max-width: 1200px)
              span
                border-bottom 1px solid $green
          br
            display none
            @media screen and (max-width: 1200px)
              display block
  .mobile-socials
    display none
    @media screen and (max-width: 768px)
      clearfix()
      display block
      width 100%
      a
        position relative
        float left
        width 33.333%
        height 30px
        line-height 30px
        background $green
        &:hover
          background $green-dark
        &:after
          content ""
          position absolute
          left 50%
          top 50%
        &.fb:after
          background: url('../images/sprite.png') no-repeat -219px 0;
          width: 8px;
          height: 15px;
          margin-top -(@height/2)
          margin-left -(@width/2)
        &.vk:after
          background: url('../images/sprite.png') no-repeat -234px 0;
          width: 18px;
          height: 11px;
          margin-top -(@height/2)
          margin-left -(@width/2)
        &.tt:after
          background: url('../images/sprite.png') no-repeat -263px 0;
          width: 16px;
          height: 12px;
          margin-top -(@height/2)
          margin-left -(@width/2)

  .mobile
    display none
    @media screen and (max-width: 768px)
      display block
      height 120px
      .logo
         height 120px
         width 165px
         width 33.333%
         line-height 120px
         text-align center
         float left
         a
           display inline-block
           vertical-align middle
           width 133px
           height 98px
           background url("../images/logo.png") no-repeat 0 0
           background url("../images/logo.svg") no-repeat 0 0
           background-size contain
      .desc
        float right
        width 66.666%
        height 100%
        text-align right
        @media screen and (max-width: 568px)
          text-align left
        p
          margin 0
        .parent-helper
          display table
          height 100%
          width 100%
        .helper > div
          position relative
          padding-left 30px
        .address
          p
            position relative
            width auto
            display inline-block
            vertical-align middle
            padding-left 30px
            &:after
              content ''
              background: url('../images/sprite.png') no-repeat -50px 0;
              width: 14px;
              height: 21px;
              position absolute
              left 0
              top 0
        .email
          margin 15px 0
          a
            position relative
            display inline-block
            vertical-align middle
            width auto
            padding-left 30px
            &:after
              content ''
              background: url('../images/sprite.png') no-repeat -70px 0;
              width: 18px;
              height: 13px;
              position absolute
              left 0
              top 5px
          a
            color $black
        .tel
          p
            position relative
            display inline-block
            vertical-align middle
            width auto
            padding-left 30px
            &:after
              content ''
              background: url('../images/sprite.png') no-repeat -94px 0;
              width: 15px;
              height: 20px;
              position absolute
              left 0
              top 50%
              margin-top -(@height/2)
    @media screen and (max-width: 568px)
      .desc .email
        margin 10px 0
    @media screen and (max-width: 460px)
      .logo
        display none
      .desc
        width 100%
        float none
        .helper > div
          padding-left 0






