.m_header
  position relative
  background #fff
  height 100px
  box-shadow 0 0 10px rgba(0,0,0,.15)
  text-align center
  @media screen and (max-width: 1200px)
    text-align right
  @media screen and (max-width: 768px)
    height 80px
  .wrapper
    padding-left 0
    padding-right 0
  .logo
    width 82px
    height 60px
    float left
    margin-top 20px
    @media screen and (max-width: 768px)
      height 70px
      margin-top 10px
      position absolute
      left 0
      top 0
    a
      display block
      width 100%
      height 100%
      background url("../images/logo.png") no-repeat 0 0
      background url("../images/logo.svg") no-repeat 0 0
      background-size contain
  .nav
    display inline-block
    vertical-align middle
    @media screen and (max-width: 768px)
      transition transform .25s ease-in
      transform translateY(-105%)
      position absolute
      right -2%
      top 0
      background #f9f9f9
      z-index 55
      width 220px
      box-shadow 3px -2px 10px rgba(0,0,0,.25)
      &.open
        transition transform .25s ease-out
        transform translateY(0)
        li
          a
            &:hover
              segoebold()
              background-color #eeeeee
              color $green
    ul
      display table
      width 840px
      height 100px
      @media screen and (max-width: 1200px)
        width 620px
      @media screen and (max-width: 768px)
        width 100%
        display block
        height auto
    li
      display table-cell
      vertical-align middle
      text-align center
      @media screen and (max-width: 768px)
        display block
        text-align left
      a
        segoesemibold()
        position relative
        text-align center
        display inline-block
        vertical-align middle
        color $black
        font-size 16px
        overflow hidden
        padding-bottom 5px
        padding-top 5px
        @media screen and (max-width: 1200px)
          font-size 14px
          vertical-align top
          padding-left 5px
          padding-right 5px
          text-align left
          padding-top 2px
          padding-bottom 2px
          span
            border-bottom 1px solid #fff
        @media screen and (max-width: 768px)
          segoe()
          font-size 16px
          line-height 16px
          display block
          width 100%
          padding 15px 10px
          span
            border-bottom none !important
          br
            display none !important
        &:before
          content ''
          width 0
          height 2px
          background $green
          position absolute
          left 50%
          bottom 0px
          transition all .25s ease-in
          @media screen and (max-width: 1200px)
            display none
        &:after
          content ''
          width 0
          height 2px
          background $green
          position absolute
          right 50%
          bottom 0px
          transition all .25s ease-in
          @media screen and (max-width: 1200px)
            display none
        &:hover
          &:after, &:before
            width 51%
            transform translateX(0%)
            transition all .35s ease-out
          @media screen and (max-width: 1200px)
            span
              border-bottom 1px solid $green
        br
          display none
          @media screen and (max-width: 1200px)
            display block
    .mobile-contacts
      display none
      margin-top 15px
      position relative
      background #fff
      box-shadow 1px -1px 3px 0px rgba(0,0,0,.15)
      color #046704
      text-align left
      padding 15px
      padding-right 80px
      @media screen and (max-width: 768px)
        display block
      h3
        segoebold()
        font-size 14px
      .tel
        margin-top 5px
        font-size 13px
        color #046704 !important
      .logo
        position absolute
        right 10px
        top 50%
        left auto
        width 68px
        height 50px
        margin-top -25px
        background url("../images/logo.png") no-repeat 0 0
        background url("../images/logo.svg") no-repeat 0 0
        background-size contain
  .contacts
    float right
    display table
    height 100%
    text-align right
    @media screen and (max-width: 1200px)
      display none
    @media screen and (max-width: 768px)
      display table
      width 100%
      text-align center
    .tel
      .title
        display none
        @media screen and (max-width: 768px)
          segoebold()
          display block
          color $green
          color #199716
      .number
        segoesemibold()
        font-size 18px
        @media screen and (max-width: 768px)
          segoebold()
          display block
          margin-top 10px
    .callback
      margin-top 5px
      @media screen and (max-width: 768px)
        display none
      a
        segoesemibold()
        font-size 16px
        color $green
        border-bottom 1px dashed $green
        letter-spacing 1px
        &:hover
          border-bottom 1px solid $green
  .mobile-menu
    display none
    @media screen and (max-width: 768px)
      display block
      position absolute
      right 0
      top 50%
      margin-top -16px
    a
      cursor pointer
      width 32px
      height 32px
      border 2px solid $green
      border-radius 100%
      display block
      background #fff
      span
        position: relative;
        display: block;
        width: 18px;
        height: 2px;
        background: $green;
        transition: all .2s ease-in-out
        margin-left auto
        margin-right auto
        margin-top 13px
        &:before,
        &:after
          position: absolute;
          background: $green;
          content: '';
          width: 18px;
          left 0
          height: 2px;
          transition: all .2s ease-in-out;
        &:before
          top -5px
        &:after
          top: 5px
    a.active
      span
        background: transparent;
        &:before
          top -4px
          transform: rotate(45deg) translate(3px, 3px);
        &:after
          top 6px
          transform: rotate(-45deg) translate(4px, -4px);





