.m_lead-news
  background url("../images/backgrounds/2.jpg") no-repeat 50% 50%
  background-size cover
  padding-bottom 25px
  .m_carousel
    height 600px
    margin-top 25px
    @media screen and (max-width: 1200px)
      height 483px
    @media screen and (max-width: 568px)
      height auto
      padding-bottom 30px
      &:after
        content ''
        height 25px
        width 2px
        background rgba(255,255,255,.8)
        position absolute
        left 50%
        margin-left -1px
        bottom 5px
    .slick-arrow
      top 50%
      margin-top -27.5px
      @media screen and (max-width: 860px)
        opacity .5
        &:hover
          opacity 1
        &.slick-disabled
          opacity .25
        &.slick-next
          background-position -107px -100px
        &.slick-prev
          background-position -70px -100px
      @media screen and (max-width: 568px)
        &.slick-arrow-mobile
          width 34px
          height 34px
          top auto
          margin-top -(@height/2)
          bottom 0
          opacity 1
          &.slick-disabled
            opacity .5
          &.slick-prev
            background url('../images/sprite.png') no-repeat -149px -100px
            left 50%
            margin-left -50px
          &.slick-next
            background url('../images/sprite.png') no-repeat -221px -100px
            right 50%
            margin-right -50px
    .item
      height 600px
      @media screen and (max-width: 1200px)
        height 483px
      @media screen and (max-width: 568px)
        height auto
      .description
        background #fff
        p, .date, .d-title
          padding-left 30px
          padding-right 30px
          @media screen and (max-width: 1200px)
            padding-left 10px
            padding-right 10px
        .d-title
          vertical-align middle
          a
            bold()
            display inline-block
            margin-top 25px
            margin-bottom 10px
            color #0f8300
            font-size 20px
            line-height 24px
            height 74px
            max-height 74px
            overflow hidden
            @media screen and (max-width: 1200px)
              margin-top 10px
              font-size 16px
              line-height 1.2
              max-height 60px
              height 60px
              margin-bottom 0
            @media screen and (max-width: 568px)
              height auto
              max-height 9999px
              padding-left 10px
              padding-right 10px
            &:hover
              color $green-dark
        .date
          segoe()
          padding 0
          margin-left 30px
          margin-right 30px
          font-size 14px
          line-height 35px
          color #acacac
          border-bottom 1px solid #acacac
          @media screen and (max-width: 1200px)
            margin-left 10px
            margin-right 10px
          @media screen and (max-width: 568px)
            margin-left 20px
            margin-right 20px
        p
          segoe()
          font-size 16px
          line-height 26px
          height 156px
          max-height 156px
          color #565656
          overflow hidden
          @media screen and (max-width: 1200px)
            font-size 14px
            line-height 19px
          @media screen and (max-width: 568px)
            max-height 9999px
            height auto
            padding-left 20px
            padding-right 20px
        .d-footer
          position relative
          height 50px
          line-height 45px
          border-top 1px solid $green
          a
            segoesemibold()
            float right
            padding-right 50px
            font-size 16px
            color $green
            @media screen and (max-width: 1200px)
              font-size 14px
            &:after
              content ''
              position: absolute;
              right: 15px;
              top: 50%;
              margin-top: -10px;
              background: url("../images/sprite.png") no-repeat 0px 0px;
              width: 20px;
              height: 20px;
            &:hover
              text-decoration underline
      .image
        @media screen and (max-width: 1200px)
          height 110px
        @media screen and (max-width: 568px)
          height 140px

