.m_lead-about
  position relative
  padding-bottom 50px
  overflow hidden
  @media screen and (min-width: 768px)
    &:before
      content ''
      position absolute
      left 0
      top 0
      width 520px
      height 563px
      background url("../images/backgrounds/leaves-left.png") no-repeat 0 0
      z-index -1
    &:after
      content ''
      position absolute
      right 0
      top 0
      width 280px
      height 716px
      background url("../images/backgrounds/leaves-right.png") no-repeat 20px 0
      z-index -1
  .nest
    height 100%
    clearfix()
    .text
      float left
      width 50%
      padding-right 25px
      @media screen and (max-width: 1200px)
        width 100%
        float right
        padding-right 0
      p
        segoe()
        margin-top 0
        margin-bottom 20px
        font-size 16px
        line-height 26px
        color #4f4b44
        @media screen and (max-width: 480px)
          font-size 14px
          line-height 1.5
          margin-bottom 5px
      ul
        margin-top 20px
        li
          segoe()
          position relative
          padding 0 0 0 35px
          margin-bottom 24px
          font-size 16px
          line-height 21px
          color #4f4b44
          @media screen and (max-width: 480px)
            font-size 14px
            line-height 18px
          &:after
            content ''
            background: url('../images/sprite.png') no-repeat -25px 0;
            width: 18px;
            height: 16px;
            position absolute
            left 0
            top 3px
          &:last-child
            margin-bottom 0

    .image
      float right
      width 50%
      @media screen and (max-width: 1200px)
        width 100%
        margin-bottom 20px
      img
        max-width 100%
        min-width 100%
