.m_lead
  width 100%
  height 500px
  background url("../images/backgrounds/1.jpg") no-repeat 50% 50%
  background-size cover
  @media screen and (max-width: 480px)
    height 350px
  .wrapper
    .hook
      position absolute
      height 420px
      width 420px
      left 50%
      top 50%
      margin-left -(@width/2)
      margin-top -(@height/2)
      background-color rgba(255,255,255,.85)
      border-radius 50%
      text-align center
      box-shadow 0px 0px 10px rgba(0,0,0,.1)
      @media screen and (max-width: 480px)
        width 290px
        height 290px
        margin-left -145px
        margin-top -145px
      .logo
        width 165px
        height 121px
        line-height 121px
        text-align center
        margin 0 auto
        margin-top 50px
        @media screen and (max-width: 480px)
          width 113px
          height 83px
          line-height 83px
          margin-top 30px
        a
          display inline-block
          vertical-align middle
          width 100%
          height 100%
          background url("../images/logo.png") no-repeat 0 0
          background url("../images/logo.svg") no-repeat 0 0
          background-size contain
      h1
        bradobrei()
        font-size 26px
        line-height 32px
        margin-top 30px
        @media screen and (max-width: 480px)
          font-size 18px
          line-height 1.2
      .callback
        margin-top 25px
        text-align center
        a
          segoesemibold()
          width 210px
          background $green
          &:hover
            background $green-dark
          @media screen and (max-width: 480px)
            font-size 12px
            width auto
            padding-left 20px
            padding-right 20px
