.m_lead-pluses
  padding-bottom 50px
  .wrapper
    .columns
      clearfix()
      margin-top 40px
      @media screen and (max-width: 1200px)
        text-align center
        margin-top -30px
      @media screen and (max-width: 480px)
        margin-top 0
      .col
        segoesemibold()
        width 20%
        float left
        text-align center
        @media screen and (max-width: 1200px)
          width 32%
          float none
          display inline-block
          vertical-align middle
          margin-top 50px
        @media screen and (max-width: 480px)
          width 100%
          margin-top 25px
        .icon
          position relative
          width 100%
          height 70px
          margin-bottom 20px
          @media screen and (max-width: 1200px)
            margin-bottom 5px
          &:after
            content ''
            position absolute
            left 50%
            top 50%
          &.icon-1:after
            background url('../images/sprite.png') no-repeat 0 -30px
            width 57px
            height 57px
            margin-top -(@height/2)
            margin-left -(@width/2)
          &.icon-2:after
            background url('../images/sprite.png') no-repeat -65px -30px
            width 58px
            height 59px
            margin-top -(@height/2)
            margin-left -(@width/2)
          &.icon-3:after
            background url('../images/sprite.png') no-repeat -130px -30px
            width 45px
            height 57px
            margin-top -(@height/2)
            margin-left -(@width/2)
          &.icon-4:after
            background url('../images/sprite.png') no-repeat -185px -30px
            width 57px
            height 49px
            margin-top -(@height/2)
            margin-left -(@width/2)
          &.icon-5:after
            background url('../images/sprite.png') no-repeat -250px -30px
            width 47px
            height 42px
            margin-top -(@height/2)
            margin-left -(@width/2)
        .desc
          segoesemibold()
          font-size 16px
          line-height 21px
          color #4f4b44



