.m_object
  h2
    segoebold()
    font-size 34px
    line-height 1
    letter-spacing 1px
    color #4f4b44
    padding-bottom 25px
    padding-top 25px
    @media screen and (max-width: 480px)
      font-size 24px
      letter-spacing 1px
  .object-lead
    clearfix()
    .object-carousel
      float left
      width 850px
      height 510px
      box-shadow: 0 0 5px rgba(0,0,0,0.15);
      @media screen and (max-width: 1200px)
        float none
        width 100%
        height 400px
  .object-carousel-single,
  .object-carousel-thumbs
    .slide
      .image
        width 100%
        height 100%
        background-repeat no-repeat
        background-position 50% 50%
        background-size cover
  .object-carousel-single
    height 420px
    @media screen and (max-width: 1200px)
      height 310px
    .slide
      height 420px
      @media screen and (max-width: 1200px)
        height 310px
    .slick-arrow
      top 50%
      margin-top -27px
    .slick-dots
      position absolute
      left 0
      bottom 30px
      width 100%
      height 7px
      text-align center
      li
        display inline-block
        vertical-align middle
        margin 0 10px
        font-size 0
        button
          width 7px
          height 7px
          border 1px solid $green
          border-radius 50%
          background-color #fff
      .slick-active
        button
          background-color $green

    .slick-prev
      z-index 2
      background url("../images/sprite.png") no-repeat 0 -100px
      left 20px
    .slick-next
      z-index 2
      background url("../images/sprite.png") no-repeat -42px -100px
      right: 20px;
  .object-carousel-thumbs
    height 90px
    .slide
      position relative
      height 90px
      &.slick-current
        &:after
          content ''
          width 100%
          height 100%
          position absolute
          left 0
          top 0
          background rgba(255,255,255,.6)
          border 1px solid $green
  .description
    float right
    vertical-align middle
    width 260px
    height 510px
    border 1px solid $green
    padding 10px 20px 0px 20px
    font-size 16px
    @media screen and (max-width: 1200px)
      float none
      width 100%
      height auto
      border none
      padding 10px 0
    .row
      padding 5px 0px 10px 0px
      @media screen and (max-width: 1200px)
        padding 0
      .title
        segoesemibold()
        font-size 16px
        line-height 22px
        @media screen and (max-width: 1200px)
          float none
          display inline-block
          width auto
          line-height 1
          padding 10px 0
        @media screen and (max-width: 660px)
          display block
          padding 5px 0
      p
        segoe()
        font-style italic
        font-size 16px
        line-height 20px
        margin 0
        padding 5px 0
        @media screen and (max-width: 1200px)
          float none
          display inline-block
          width auto
          line-height 1
          padding 10px 0
          @media screen and (max-width: 660px)
            display block
            padding 5px 0
          @media screen and (max-width: 480px)
            margin-bottom 5px
    a
      segoesemibold()
      display inline-block
      text-align center
      vertical-align middle
      width 220px
      height 45px
      font-size 14px
      line-height 40px
      margin-top 10px
      border 1px solid $green
      border-radius 22.5px
      color $green
      @media screen and (max-width: 1200px)
        margin-bottom 0
        width 45%
        margin-left 2%
        margin-right 2%
      @media screen and (max-width: 568px)
        margin-left 0
        margin-right 0
        width 100%
      &:hover
        border 1px solid $green-dark
        color $green-dark
    .description-link-2
      display inline-block
      color #fff
      background-color $green
      &:hover
        color #fff
        background-color $green-dark
  .articles
    clearfix()
    width 100%
    height 100%
    @media screen and (max-width: 768px)
      padding-top 25px
    article
      float left
      width 50%
      margin-top 25px
      margin-bottom 20px
      @media screen and (max-width: 1200px)
        float none
        width 100%
        margin 10px 0
      .title
        bold()
        font-size 20px
        line-height 1
        padding-bottom 30px
        text-transform uppercase
        color #199a19
        letter-spacing 0.5px
        @media screen and (max-width: 1200px)
          padding-bottom 10px
        @media screen and (max-width: 768px)
          font-size 16px
      p
        segoe()
        font-size 16px
        line-height 30px
        margin 0
        padding-bottom 45px
        padding-right 30px
        color #3e3e3e
        @media screen and (max-width: 1200px)
          padding-right 0
          padding-bottom 10px
        @media screen and (max-width: 768px)
          font-size 14px
          line-height 1.5
          padding-bottom 5px
        span
          segoebold()
          font-style italic
          color #3e3e3e
