.m_pagination
  padding 15px 0 45px 0
  text-align center
  ul, button, li
    display inline-block
    vertical-align middle
  ul
    cursor default
  li
    a
      segoe()
      display block
      width 32px
      height 32px
      margin-left 1px
      margin-right 1px
      line-height 30px
      border 1px solid #fff
      border-radius 50%
      font-size 16px
      color #9d9d9d
      &:hover
       color #0c8e12 
    .current
      border 1px solid #0c8e12
      color #0c8e12
      &:hover
        color $green-dark
  button
    border none
    background-color transparent
    font-size 16px
    color #0c8e12