.m_partners
  clearfix()
  .partners-list
    .wrapper
      padding-left 0
      padding-right 0
    .item
      width 33.333%
      height 333px
      padding-left 15px
      padding-right 15px
      margin-top 15px
      margin-bottom 15px
      float left
      @media screen and (max-width: 768px)
        width 50%
      @media screen and (max-width: 380px)
        width 100%
        height 280px
      .border
        anim()
        height 100%
        width 100%
        border 1px solid #fff
        padding-right 30px
        padding-left 30px
        @media screen and (max-width: 1200px)
          padding-right 15px
          padding-left 15px
        @media screen and (max-width: 568px)
          padding-left 0
          padding-right 0
        &:hover
          border-color $green
        .image
          height 200px
          line-height 200px
          text-align center
          border-bottom 1px solid $border
          @media screen and (max-width: 380px)
            height 140px
            line-height 140px
          a
            display block
            width 100%
            height 100%
            overflow hidden
            img
              display inline-block
              vertical-align middle
              max-width 100%
              max-height 100%
        .description
          width 100%
          height 133px
          display table
          text-align center
          @media screen and (max-width: 380px)
            height 140px
          .name
            bold()
            font-size 16px
            line-height 28px
            color #565656
            @media screen and (max-width: 1024px)
              line-height 20px
            @media screen and (max-width: 480px) and (min-width: 380px)
              font-size 14px
              line-height 1.2
          .site
            bold()
            a
              font-size 16px
              line-height 28px
              color $green
              @media screen and (max-width: 1024px)
                line-height 20px
              @media screen and (max-width: 480px) and (min-width: 380px)
                font-size 14px
                line-height 1.2
              &:hover
                color $green-dark
                text-decoration underline


