.m_small-title
  italic()
  width 555px
  height 80px
  margin 0 auto
  margin-bottom 50px
  font-size 18px
  line-height 28px
  text-align center
  color #535353
  @media screen and (max-width: 768px)
    width 100%
    height auto
    margin-bottom 25px
    margin-top 25px
  @media screen and (max-width: 480px)
    font-size 16px
    line-height 1.2
    margin-top 10px
    margin-bottom 10px