.m_specials
  position relative
  background #fff
  text-align center  
  .propositions
    .small-title
      italic()
      width 555px
      height 80px
      margin 0 auto
      font-size 18px
      line-height 28px
      color #535353
      margin-bottom 25px
    