<div id="callback-modal" class="modal zoom-anim-dialog mfp-hide">
    <div class="title">Обратный звонок</div>
    <form>
        <div class="row">
            <label for="callback-form-name">Ваше имя</label>
            <input class="text" type="text" id="callback-form-name" placeholder="">
        </div>
        <div class="row">
            <label for="callback-form-tel">Ваш телефон</label>
            <input class="tel" type="text" id="callback-form-tel" placeholder="">
        </div>
        <button type="submit" class="send">Заказать звонок</button>
    </form>
</div>

<div id="look-modal" class="modal zoom-anim-dialog mfp-hide">
    <div class="title">Осмотр участка</div>
    <form>
        <div class="row">
            <label for="look-form-name">Ваше имя</label>
            <input class="text" type="text" id="look-form-name" placeholder="">
        </div>
        <div class="row">
            <label for="look-form-tel">Ваш телефон</label>
            <input class="tel" type="text" id="look-form-tel" placeholder="">
        </div>
        <div class="row">
            <label for="look-form-email">Ваш e-mail</label>
            <input class="text" type="email" id="look-form-email" placeholder="">
        </div>
        <button type="submit" class="send">Записаться</button>
    </form>
</div>